*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

/* root section for all page */

:root
{

    --green:#008000;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .2rem 1rem  #666;
    --outline: .1rem solid rgba #777;
    --grid-template-column-box-shadow:0 .5rem 1.5rem red;
    --border:.2rem solid rgba(0,0,0,.1);

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
}

.Fresh{
    color: #fff;
}



/* section  */
section{
    padding: 2rem 9%;
}
.header{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
     display: flex;
     align-items: center;
     /* border: 2px solid red; */
     justify-content: space-between;
     padding: 2rem 9%;
     background: #fff;
    box-shadow: var(--box-shadow);

}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
}

.header .logo i{
    color: var(--green);
}

.header .navbar a{
   font-size: 1.7rem;
   margin: 0 1rem;
   color: var(--black);
}

.header .navbar a:hover{
    color: var(--green);
}

.header .icons div{
    width: 4.5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    /* border: 2px solid red; */
    border-radius: .5rem;
    background: #eee;
    color: var(--black) ;
    font-size: 2rem;
    margin-right: .3rem;
    text-align:center ;

}

.header .icons div:hover{
    background: var(--green);
    color: white;
}

#menu-btn{
    display: none;
}


.header .navbar.active{
    right: 2rem;
    transition: .4s linear;
}

/* search form section */
.header .search-form{
    position: absolute;
    border: 0px solid red;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);

}


header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
    border: 2px si;
}

.header .search-form label{
    font-size: 2.2rem;
    padding: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover{
    color: var(--green);
}

/*  <!-- card section --> */

.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    border: 0px solid red;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: white;

}

.header .shopping-cart.active{
   right: 2rem;
   transition: .4s linear;
}

.header .shopping-cart .box{
    display: flex;
    align-items: center;
    border: 0px solid blue;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
}

.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
     transform: translate(-58%);
}

.header .shopping-cart .box .fa-trash:hover{
    color: var(--green);
}

.header .shopping-cart .box .content h3{
   color: var(--black);
   font-size: 1.7rem;
   padding-bottom: 1re;
}

.header .shopping-cart .box .content span{
   color: var(--black);
   font-size: 1.6rem;

}

.header .shopping-cart .box .content .quntity{
    padding-left: 0.1rem;
}


.header .shopping-cart .total{
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black );
}

/* btn class */
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border: 1px solid rgb(27, 27, 26);
    border-radius: .5rem;
    color: var(--black);
    cursor: pointer;
    background: none;


}

.btn:hover{
    background: var(--green);
 color:#fff ;
}

.header .shopping-cart .btn{
    display: block;
    text-align: center ;
    margin: 1rem 0;
}

/* login-form" */
.header .login-form{
    border: 0px solid red;
    width: 30rem;
    position: absolute;
    top: 110%;
    right: -110%;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 0.5rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active{
    right: 2rem;
}

.header .login-form h3{
     font-size: 2.5rem;
     text-transform: uppercase;
     color: var(--black);
}

.header .login-form .box{
    border: 0px solid black;
    margin: .7rem 0 ;
    width: 100%;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    transform: none;
}

/* paragrpg */

.header .login-form  p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--green);
    text-decoration: underline ;
}

.home{
    /* border: solid red; */
    display: flex;
    justify-content: center;
    background: url(./back1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;

}

.home .content{
    border: 0px solid red;
    text-align: center;
    width: 60rem;
}


.home .content h3{
    color: var(--black);
    font-size: 3rem;
}


.home .content h3 span{
    color: var(--green);

}

.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0 ;
    line-height: 1.8;
}


/* feautre section heading  */

.heading{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--black);
}

.heading span{
    background: #008000;
    color: #eee;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%,0% 100%,7% 50%,0% 0%);
}



/* feature section in box */

.feature .box-container{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem ,1fr));
    gap: 1.5rem  ;
}

.feature .box-container .box{
    border: 0px solid black;
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--light-color);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.feature .box-container .box:hover{
  box-shadow: 2px 2px 10px 4px var(--green);
}

.feature .box-container .box img{
    margin: 1rem 0 ;
    height: 15rem ;
}

.feature .box-container .box h3{
    font-size: 2.5rem;
     line-height: 1.8;
     color: var(--light-color);
}

.feature .box-container .box h3{
    font-size: 2.5rem;
     line-height: 1.8;
     color: var(--light-color);
}


.feature .box-container .box p{
    font-size: 1.5rem;
     line-height: 1.8;
     color: var(--light-color);
     padding: 1rem 0 ;
}

/*
 <!-- next section product  -->
              <!-- product  --> */

.product .product-slider{
    border: 0px solid red;
    padding: 1rem;
}

.product .product-slider:first-child{
    margin-bottom: 2rem;
}

.product .product-slider .box{
    border: 0px solid black;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -rem;
    outline: var(--green);
    box-shadow: var(--box-shadow);
    transition: .2s linear;

}

.product .product-slider .box:hover{
    box-shadow: 2px 2px 10px 4px var(--green);
}


.product .product-slider .box h1{
    height: 20rem;
    color: var(--black);
}

.product .product-slider .box .price{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.product .product-slider .box .stars i{

    font-size: 1.7rem;
    color: orange;
}

/* another section future product */

.catageriose .box-container{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem ,1fr));
    gap: 1.5rem  ;
}

.catageriose .box-container .box{
    padding: 2rem 0;
    background: #fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    outline-offset: -1rem;
    outline: var(--outline);
    text-align: center;
}

.catageriose .box-container .box:hover{
   box-shadow: 2px 2px 10px 4px var(--green);
}

.catageriose .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.catageriose .box-container .box h3{
    font-size:  2rem;
    color: var(--black);
    line-height: 1.8 ;
}

.catageriose .box-container .box p{
    font-size:  1rem;
    color: var(--light-color);
    line-height: 1.8 ;
    padding: 1rem 0;
}


/* review section */

.review .review-slider{
     border: 0px solid red;
     padding: 1rem;

}

.review .review-slider .box{
      border: 0px solid black;
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -rem;
    outline: var(--green);
    box-shadow: var(--box-shadow);
    transition: .2s linear;
    margin: .9rem;
}

.review .review-slider .box:hover{
      box-shadow: 2px 2px 10px 4px var(--green);
}

.review .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .reveiw-slider .box p{
    padding: 1rem 0 ;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;

}

.review .reveiw-slider .box h3{
    padding-bottom: .5rem;
    color: var(--light-color);
    font-size: 2.2rem;

}

.review .reveiw-slider .box .stars i{
    color: orange;
    font-size: 1.7rem;

}


/* our blog sections */

.blogs  .box-container{
    border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem ,1fr));
    gap: 1.5rem  ;
}

.blogs  .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff ;
    /* text-align: center; */
}


.blogs  .box-container .box img{
    height: 25rem;
    width: 100%;
}

.blogs  .box-container .box .content{
    padding: 2rem;

}

.blogs  .box-container .box .content .icons{


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);
}

.blogs  .box-container .box .content .icons a {
     font-size: 1.5rem;
     color: var(--light-color);
}


.blogs  .box-container .box .content .icons a i{
    padding: .5rem;
     color: var(--green);
}

.blogs  .box-container .box .content .icons a:hover{
    color: var(--light-color);
}

.blogs  .box-container .box .content h3 {
   line-height: 1.8;
   color: var(--black);
   font-size: 1.5rem;
   padding: .5rem;
}

.blogs  .box-container .box .content p{
   line-height: 1.8rem;
   color: var(--light-color);
   font-size: 1.5rem;
   padding: .5rem;
}


/* footer section */
/* another section */

.footer{

    color: #fff;


}

.footer .box-container{
border: 0px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem ,1fr));
    gap: 1.5rem  ;

}

.footer .box-container .box h3{
   font-size: 2.5rem ;
   color: var(--black);
   padding: 1rem 0 ;
}

.footer .box-container .box h3 i {
    color: var(--green);
}

.footer .box-container .box .links {
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    border: 0px solid red;

}

.footer .box-container .box .links i {
   padding-right: 1.5rem ;
    color: var(--green);
    border: 0px solid red;
    margin: 1.2rem;

}


.footer .box-container .box .links:hover i {
    padding-right: 2rem;
}

.footer .box-container .box p {
   line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);

}


.footer .box-container .box .share a{
  height: 4rem;
  width: 4rem;
  margin: 1.2rem;
  border: 0px solid gray;
  line-height: 4rem;
  border-radius: .5rem;
  font-size: 2rem;
  color: var(--black);
  margin-left: .2rem;
  background: #eee;
  text-align: center;
}

.footer .box-container .box .share a:hover{
    background-color: var(--green);
    color: #fff;
}

.footer .box-container .box .email{
   width: 100%;
    margin: .7rem 0;
   padding: 1rem;
   border-radius: .5rem;
   background: aliceblue;
   font-size: 1.6rem;
   color: var(--black);
   text-decoration:none ;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    padding: .2rem;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
     padding: 1rem;
     padding-top: 2rem;
     font-size: 2rem;
     border-top: var(--border);
    color: #130f40;
}

.footer .credit span{
    color: var(--green);
}































/* media quarry  */

@media (max-width:991px){
     html{
    font-size: 55%;

}

       .header{
        padding: 2rem;
       }


       section{
         padding: 2rem;
       }
}


@media (max-width:768px){


    #menu-btn{
    display: inline-block;
}
.header .navbar{

    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;
}

.header .search-form{
    width: 90% ;
}
.header .navbar a{
  font-size: 2rem ;
  margin: 2rem 2.5rem;
  display: block;

}

}



@media (max-width:450px){
     html{
    font-size: 50%;

}

.heading{
    font-size: 2rem;
}

.footer{
    text-align: center;
    font-size: 2rem;
}

}